<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - November 5th</h3>
    <table class="table table-striped">
      <tr> <td>Lesson 1</td>  <td><a href="https://datacarpentry.github.io/OpenRefine-ecology-lesson/01-getting-started.html">Introduction to OpenRefine</a></td> </tr>
      <tr> <td>Lesson 2</td>  <td><a href="https://datacarpentry.github.io/OpenRefine-ecology-lesson/02-importing-data.html">Importing data into OpenRefine</a></td> </tr>
      <tr> <td>Lesson 3</td>  <td><a href="https://datacarpentry.github.io/OpenRefine-ecology-lesson/03-exploring-data.html">Exploring Data with OpenRefine</a></td> </tr>
      <tr> <td>Lesson 4</td>  <td><a href="https://datacarpentry.github.io/OpenRefine-ecology-lesson/04-transforming-data.html">Transforming Data</a></td> </tr>
      <tr> <td>Lesson 5</td>  <td><a href="https://datacarpentry.github.io/OpenRefine-ecology-lesson/05-filter-exclude-sort.html">Filtering and Sorting</a></td> </tr>
      <tr> <td>Lesson 6</td>  <td><a href="https://datacarpentry.github.io/OpenRefine-ecology-lesson/06-reconciliation.html">Reconciliation of Values</a></td> </tr>
      <tr> <td>Lesson 7</td>  <td><a href="https://datacarpentry.github.io/OpenRefine-ecology-lesson/07-looking-up-data.html">Looking Up Data</a></td> </tr>
      <tr> <td>Lesson 8</td>  <td><a href="https://datacarpentry.github.io/OpenRefine-ecology-lesson/08-exporting-cleaning-steps.html">Exporting Data Cleaning Steps</a></td> </tr>
      <tr> <td>Lesson 9</td>  <td><a href="https://datacarpentry.github.io/OpenRefine-ecology-lesson/09-exporting-data.html">Exporting and Saving Data</a></td> </tr>
      <tr> <td>Lesson 10</td>  <td><a href="https://datacarpentry.github.io/OpenRefine-ecology-lesson/10-resources.html">Other Resources in OpenRefine</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - November 12th</h3>
    <table class="table table-striped">
      <tr> <td>Lesson 1</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/01-regular-expressions.html">Regular Expressions</a></td> </tr>
      <tr> <td>Lesson 2</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/02-match-extract-strings.html">Matching and Extracting Strings</a></td> </tr>
      <tr> <td>Lesson 3</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/03-quiz.html">Multiple Choice Quiz</a></td> </tr>
      <tr> <td>Lesson 4</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/04-exercises.html">Exercises</a></td> </tr>
    </table>
  </div>
</div>
